//Colors

    //Primary

        $Blue: hsl(223, 87%, 63%);

    //Secondary

        $Pale_Blue: #c2d3ff55;
        $Light_Red: #ff5263;

    //Neutral

        $Gray: hsl(0, 0%, 59%);
        $Very_Dark_Blue: hsl(209, 33%, 12%);